body {
    /* overflow: hidden; */
}

h1 {
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    background-color: lightblue;
    overflow: auto;
    /* background-image: url('../images/tekstura.com.jpg'); */
    margin-bottom: 5px;
}
.nav a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #000;
  }
  
nav button {
    margin: 5px;
    padding: 5px;
    border-width: 2px;
    border-color: cadetblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav button, h2, .comment {
    font-size: 0.5em;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #d3d3d3;
    overflow: hidden;
}

.vigneDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #d3d3d3;
    overflow: auto;
    margin: 5px;
    max-height: 780px;
}

.thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin: 2px;
    /* border-radius: 10% 10% */
}

.thumb:hover {
    box-shadow: 0 0 4px 2px rgba(50, 50, 50, 0.5);
}

.visuDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    background-color: burlywood;
    max-height: 780px;
}
/* #test{ */
    /* width: 4em; */
    /* heigth: 4em; */
/* } */
#full {
    width: 50%;
    height: auto;
}

#visu{
    width: 800px;
    height: 600px;
}
@media (min-width:576px) {
    nav button, h2, .comment {
        font-size: 0.6em;
    }
    .mainDiv {
        flex-direction: row;
    }
    .vigneDiv {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 225px;
        overflow: auto;
    }
    .thumb {
        width: 4em;
        height: 4em;
    }
    #full {
        width: 100%;
        height: auto;
    }
}

@media (min-width:768px) {
    nav button, h2, .comment {
        font-size: 0.7em;
    }
    .vigneDiv {
        max-width: 230px;
        overflow: auto;
    }
    .thumb {
        width: 5em;
        height: 5em;
    }
    #full {
        width: 88%;
        height: auto;
    }
}

@media (min-width:992px) {
    nav {
        flex-wrap: wrap;
    }
    nav button, h2, .comment {
        font-size: 0.8em;
    }
    .vigneDiv {
        max-width: 125px;
    }
    .thumb {
        width: 6em;
        height: 6em;
    }
}

@media (min-width:1200px) {
    nav button, h2, .comment {
        font-size: 0.9em;
    }
    .vigneDiv {
        /* flex-direction: row; */
        max-width: 140px;
    }
    .thumb {
        width: 7em;
        height: 7em;
    }
}